<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/styles/viewHistory.css" />
    <script src="/vendor/jquery/jquery-3.6.1.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <title>Title</title>
</head>
<body>

<script type="module" src="/scripts/global.js"></script>
<script type="module" src="/scripts/viewHistory.js"></script>
</body>
</html>