<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/styles/menuStyle.css" />
  <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/vendor/jquery/jquery-3.6.1.js"></script>
  <title>TimeOrganizer</title>
  <link rel="manifest" href="/configFiles/manifest.json" />
</head>

<body>
  <div id="content" class="container">
    <div id="column" class="col-lg-4 col-md-6 col-10">
      <h1 id="name">WatDoing</h1>
      <a class="btn text-light" id="meditateBtn">Meditate</a>
      <a class="btn text-light" id="toDoListBtn" href="newRecord/stopwatch">To-Do list</a>
      <a class="btn text-light" id="whatDidToday">What I did today</a>
      <a class="btn text-light" id="newRecordBtn" href="newRecord/timer">New Record</a>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">      
      <div class="modal-content"> 
        <div class="modal-header">
          <button id="printInstructionsBtn" class="btn btn-secondary">Btn</button>
        </div>
        <div class="modal-body"> 
        </div>    
      </div>
    </div>
  </div>

  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("service-worker.js");
    }
  </script>
  <script type="module" src="/scripts/global.js"></script>
  <script src="/scripts/menuScript.js"></script>
</body>

</html>